<h1>Welcome to "Rock, Paper, Scissors."</h1>

<p>Play by going to the URL bar, and adding "/play/player1/player2" - replacing "player1" with Player 1's choice of either "rock", "paper", or "scissors", and "player2" with Player 2's choice between the same options.</p>
